.item:hover .subemenu{
  display: block;
  position: absolute;
  left: 0;
  top:100px;
}

.subemenu {display: none;
  border: thin solid black
}

#menu {border: thin solid black
}

#menu:after{
  content: "";
  display: table;
  clear: both;
}

.item, .subitem {border-radius: thin solid red}

.item {
  float: left;
  border: thin solid black
}

.subitem{
  border: thin solid black;
}
